[submodule "api-gateway"]
	path = spot-gateway
	url = git@github.com:Microservices-Spot/api-gateway.git
[submodule "auth"]
	path = spot-ms-auth
	url = git@github.com:Microservices-Spot/auth.git
[submodule "users"]
	path = spot-ms-users
	url = git@github.com:Microservices-Spot/users.git
[submodule "codes"]
	path = spot-ms-codes
	url = git@github.com:Microservices-Spot/codes.git
[submodule "emails"]
	path = spot-ms-emails
	url = git@github.com:Microservices-Spot/emails.git
[submodule "notifications"]
	path = spot-ms-notifications
	url = git@github.com:Microservices-Spot/notifications.git